<nav class="navbar bg-dark navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand link-success fs-3" href="#">STACK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="colapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mx-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a href="/" class="nav-link link-light" aria-current="page">Inicio</a>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link link-light dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tablas</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="">Productos</a></li>
                        <li><a class="dropdown-item" href="/list">Clientes</a></li>
                    </ul>
                </li>
            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Búsqueda</button>
            </form>
        </div>
    </div>
</nav>